body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px; /* Añadimos un margen para separar del contenido siguiente */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: rgba(14, 16, 19, 0.863);
    color: white;
}

td {
    padding: 10px 20px;
}

td[data-label="User"], th:first-child {
    background-color:  rgba(14, 16, 19, 0.863);
    color: white;
    text-align: left;
}

.course {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
}

.course b {
    color: #007BFF;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        display: none;
    }

    tr {
        margin-bottom: 15px;
    }

    td {
        clear: both;
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
        border: none;
        margin-bottom: 10px;
    }

    td:before {
        content: attr(data-label);
        position: absolute;
        top: -20px;  /* Aseguramos que el label esté por encima del contenido */
        left: 10px;
        padding: 0px  5px;
        font-weight: bold;
        text-align: left;
        width: calc(100% - 20px); /* Ajustamos el ancho para que no se salga del contenedor */
        background-color: #242424dc;
        color: white;
        border-radius: 5px;
    }

    td[data-label="User"]:before {
        background-color: #aac9ab;
        color: white;
    }

    .course {
        padding-left: 10px;
        padding-right: 10px;
    }

    td[data-label="User"] {
        margin-top: 10px;
        padding-top: 40px; /* Aumentamos el padding para evitar solapamientos */
    }
}
